.gallery {
    padding-top: calc(var(--header-height) + 32px);
    padding-bottom: 64px;
    padding-left: 32px;
    padding-right: 32px;

    column-count: 4;
    column-gap: 16px;
}

@media (max-width: 1024px) {
    .gallery {
        column-count: 3;
    }
}

@media (max-width: 768px) {
    .gallery {
        column-count: 2;
    }
}

@media (max-width: 480px) {
    .gallery {
        column-count: 1;
    }
}
